{% extends 'base.html.twig' %}
{% set users = [{name: 'John'}, {name: 'Robert'}, {name: 'George'}, {name: 'Susan'},] %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name | upper}}! ✅</h1>
    {#    <ul>

      {% for user in users %}
        <li> {{ user.name }} you won {{ random_gift[loop.index0] }}</li>
      {% endfor %}

    </ul>


{{ path('home') }} <br>
{{ url('home') }} <br>
{{ asset('images/logo.png') }} <br>
{{ absolute_url(asset('images/logo.png')) }} <br>
{{ ga_code }} <br>
{{ app.user }} <br>
{{ app.request.get('param') }} <br>
{{ app.environment }} <br>
{{ dump(app.session) }} <br>

{{ render(controller(
  'App\\Controller\\DefaultController::mostPopularPosts',
  { 'number': 4 }
)) }}


    {% for message in app.flashes('notice') %}
      <div class="flash-notice">
        {{ message }}
      </div>
    {% endfor %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{label}}">
              {{ message }}
            </div>
        {% endfor %}
    {% endfor %}


    {% for user in users %}
      {% if user.name == 'Susan' %}
        <p> {{ user.name }} </p>
      {% else %}
        No user was found.
      {% endif %}
    {% endfor %}

    {{ include('includes/subview.html.twig', {'users': users}) }}

    {% block javascript %}
    {{ parent() }}
      <script type="text/javascript">
        alert('asdasdasd')
      </script>
    {% endblock %}

    {{ form_start(form1) }}
      {{ form_label(form1.title) }}
      {{ form_widget(form1.title) }}
      {% if form.created_at is defined %}
        {{ form_label(form1.created_at) }}
        {{ form_widget(form1.created_at) }}
      {% endif %}
      {{ form_label(form1.save) }}
      {{ form_widget(form1.save) }}
    {{ form_end(form1) }}
    #}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('logout') }}">Logout</a>
        </div>
    {% endif %}
    {#
      {{ form(form) }}
    #}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="..."> Only admin can do this </a>
    {% endif %}
</div>
{% endblock %}
